@font-face {
  font-family: 'Revalia';
  src: url('./fonts/Revalia-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-gray: #EEEFF1;
  --color-white: #FFFFFF;
  --color-blue: #34547A;
  --color-text: #727272;
  --color-black: #000000;

  --font-family-base: 'Roboto-Regular', sans-serif;
  --font-family-accept: 'Roboto-Medium', sans-serif;
  --container-width: 1150px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-gray);
  color: var(--color-text);
  font-size: 16px;
}

h3 {
  font-size: 32px;
  font-family: var(--font-family-accept);
  color: var(--color-black);
}

.header { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
}

.header__container {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  width: 100%;
  gap: 161px;
  padding-bottom: 152px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  margin: 40px 29px 0px 16px;
  align-items:center;
}

.header__logo { 
  font-family: Revalia; 
  color: #34547A;
  font-size: 48px;
  text-align: center;
  text-decoration: none;
}

.menu__list {
  display: flex;
  gap: 42px;
  align-items:center;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  letter-spacing: 1,2px;
  line-height: 164.1%;
}
.menu__link_activ{
  color: var(--color-blue);
  text-decoration: none;
}
.header__content {
  display: flex;
  justify-content: flex-end;
  gap: 171px;
  align-items:center;
}

.header__image {
  display: block;
  max-width: 357px;
  max-height: 233.7px;
  width: 100%;
}

.desing__content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
}

.design__title {
  font-family: var(--font-family-accept);
  color: var(--color-black);
  font-size: 48px;
  line-height: 164.1%;
}

.design__text{
  line-height: 164.1%;
  margin-top: 47px;
}

.button {
  padding: 25px 41px 25px 41px;
  background-color: var(--color-blue);
  margin-top: 60px;
  width: fit-content;
  border: var(--color-blue);
  color: var(--color-white);
}

.main__autobiography{
  display: flex;
  flex-direction: column;
}

.autobiography__block {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; 
  padding: 112px 0px 100px 0px;
}
.autobiography__title{
  padding: 0px;
}
.autobiography__text {
  max-width: 540px;
  text-align: center;
  text-indent: 34px;
  font-family: var(--font-family-base);
}

.autobiography__project {
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  gap: 49px;
}

.project__container {
  padding: 100px 0px 100px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.project__photo{
  display: block;
  max-width: 50px;
  max-height: 50px;
}

.project__number{
  font-size: 21px;
  font-family: var(--font-family-accept);
  color: var(--color-white);
}
.project__content{
  color: var(--color-white);
}
.skills{
  display: flex;
  background-color: var(--color-white);
  align-items:center;
  justify-content: center;
}

.skills__container{ 
  display: flex;
  gap: 150px;
  max-width: 1150px;
  margin-top: 102px;
  width: 100%;
  align-items: center;
  padding-bottom: 101px;
  justify-content: space-between;
}

.skills__spisok {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 445px;
  width: 100%;
}

.skills__title{
  font-size: 32px;
  font-family: var(--font-family-accept);
  color: var(--color-black);
}

.skills__block{
  display: flex;
  flex-direction: column;
  gap: 39.76px;
}

.skills__content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills__photoshop{
  padding: 0px;
}

.block__parent{
  background-color: var(--color-gray);
  width: 100%;
  height: 4px;
}
.block__child{
  background-color: var(--color-blue);
  width: 79%;
  height: 4px;
}

.slills__foto{
  max-width: 555px;
  max-height: 450px;
  width: 100%;
}

.form{
  display: flex;
  justify-content: center;
}
.form__container{
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 540px;
  padding-top: 100px;
  gap: 20px;
}

.form__block{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form__title{
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-family-accept);
  text-align: center;
}

.form__text{
  text-align: center;
  line-height: 164.1%;
  text-indent: 34px;
}

.form__input{
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.group__input{
  display: flex;
  gap: 30px;
}
.input__name{
  max-width: 255px;
 padding-left: 20px;
  text-align: left;
  width: 100%;
  inline-size: 255px;
  line-height: 50px;
}
textarea{
  color: var(--color-text);
}
.input__messages{
  width: 540px;
  line-height: 17px;
  height: 175px;
  padding-left: 20px;
}
.first-screen__button{
  background-color: var(--color-blue);
  padding: 20px 19px 20px 19px;
  border: var(--color-blue);
  margin-top: 50px;
  margin-bottom: 100px;
  max-width: 190px;
  width: 100%;
  color: var(--color-white); 
}

.first-screen__button-text{
  color: var(--color-white);
}

.video{
  display: flex;
  justify-content: center;
}
.video__container{
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.video__contetnt{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.video__title{
  font-family: var(--font-family-accept);
  font-size: 32px;
  color: var(--color-black);
  text-align: center;
}

.video__text{
  max-width: 540px;
  text-align: center;
  text-indent: 34px;
}

.video__block{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.video__img{
  position: relative;
  max-width: 1110px;
  max-height: 600px;
  width: 100%;
  inline-size: 6;
}
.video__background{
  position: relative;
  max-width: 1110px;
  max-height: 600px;
  width: 100%;
  inline-size: 6;
}

.video__play{
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  inline-size: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img{
  background-color: var(--color-white);
  display: grid;
  justify-content: center;
}

.img__container{
  max-height: 1920px;
  display: grid;
  grid-template-columns: repeat(4, 480px);
  grid-template-rows: repeat(2, 480px);
  padding: 10px 0px;
}

.img__photo{
  width: 480px;

  height: 480px;
  object-fit: cover;
  z-index: 4;
}

.img__list{
  width: 480px;
  height: 480px;
  width: 100%;
  position: relative;
  z-index: 6;
}

.img__list:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #34547A;
  opacity: 0.8;
  width: 480px;
  height: 480px; 
}

.img__list:hover::after {
  content: url('../img/optic.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button__form{
  margin-bottom: 50px;
}

.footer{
  display: flex;
  background-color: var(--color-blue);
  justify-content: center;
}

.footer__container{
  display: flex;
  max-width: 1150px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding:50px 0px 40px 0px;
}

.footer__info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__icons{
  display: flex;
  gap: 21.88px;
}

.footer__name{
  color: var(--color-white);
  font-size: 21px;
  font-family: var(--font-family-accept);
}

.footer__rights{
  font-size: 13px;
  color: var(--color-white);
  line-height: 164.1%;
}

.icons__group{
  display: flex;
  gap: 21.88px;
}

.menu__link{
  max-width: 43.75px;
  max-height: 40px;
  width: 100%;
}

@media (max-width: 375px) {
  .header__container{
    justify-content: center;
    gap: 67px;
  }
  .header__image{
  max-width: 298px;
  max-height: 195px;
  }
  .menu__list{
      display: none;
  }
  .header__content{
    flex-direction: column;
    align-items:center;
    gap: 44px;
  }
  .desing__content{
    align-items: center;
    max-width: 341px;
  }
  .design__title{
    font-size: 36px;
    text-align: center;
  }
  .design__text{
    text-align: center;
    text-indent: 26px;
  }
  .autobiography__block{
    padding: 91px 26px 82px 26px;
  }
  .autobiography__project {
    flex-wrap: wrap;
    align-items:center;
    padding: 75px 18px;
    justify-content: space-between;
  }
  .project__container {
    padding: 0px;
    display: flex;
    max-width: 141px;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

  .skills__container{
    flex-direction: column-reverse;
    margin-top: 82px;
    max-width: 357px;
    gap: 98px;
  }
  .skills__title{
    text-align: center;
  }
  .video__container {
    padding-top: 43px;
  }
  .video__contetnt {
    gap: 34px;
  }
.video__text{
  max-width: 323px;
}
.video__img{
  max-width: 339px;
  max-height: 185px;
}
  .video__play {
    max-width: 75px;
    max-height: 75px;
  }
  .form__container {
    max-width: 342px;
    gap: 20px; 
}
  .group__input{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    gap: 22px;
  }
  .footer__container {
    flex-direction: column;
    align-items:center;
    gap: 30px;
}
  .footer__info{
    align-items:center;
  }

  .img__container { 
    grid-template-columns:  188px  188px; 
    grid-template-rows:  188px  188px  188px 188px; 
    padding: 34px 0px;
  }
.img__list{
  max-height: 188px;
  display: grid;
}
.img__photo{
  max-width: 188px;
  max-height: 188px;
  order: 1;
  display: block;
  z-index: 2;
}
.img__list:nth-child(1) { order: 1; } 
.img__list:nth-child(2) { order: 2; } 
.img__list:nth-child(3) { order: 4; } 
.img__list:nth-child(4) { order: 3; } 
.img__list:nth-child(5) { order: 6; } 
.img__list:nth-child(6) { order: 5; } 
.img__list:nth-child(7) { order: 7; }
.img__list:nth-child(8) { order: 8; } 

.img__list:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #34547A;
  opacity: 0.8;
  width: 188px;
  height: 188px; 
  z-index: 6;
}

.img__list:hover::after {
  content: url('../img/optic.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.form__block {
  gap: 34px;
}
.form__text {
  max-width: 322px;
}
.form__input {
  margin-top: 28px;
}

.button__form {
  margin-bottom: 100px;
}
}